body{
	margin: 0;
}

.navBar{
	position: fixed;
	background-color : #fff;/*culoarea de background pentru bara de navigare*/
	height: 60px;
	top: 0px;	
	width: 100%;
	overflow: hidden;
}

.navBar a {
 float: right;
  top:-10px;
  font-family: "sans-serif courier";
  color:gray;/*culoarea pentru textul din bara de navigare fara home,home ii putin mai jos*/
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}

.navBar a:hover{
	
	color: #F99CB1;
}

#sign{
	position: relative;
	top: 5px;
	color: #F99CB1;/*culoarea de la logo 'sing up '*/
}

#more{
	position: relative;
	top: 5px;
	color: #F99CB1;/*culoarea de la logo 'more'*/
}

#home{
	position: relative;
	top: 3px;
	color: #F99CB1;/*culoarea de la logo home*/
}

#MainImage{
	position: absolute;
	height: 65px;
	width:150px;
	top: -1px;
}

#backButton{
	position: fixed;
	box-shadow: 3px 3px 9px black;
	top: 460px;
	left: 1200px;
	width: 30px;
	height: 50px;
	padding: 13px 23px;
	border-radius: 100%;
	color: #fff;
	background-color: #F99CB1;/*culoarea de background de la butonul de inapoi,'acela care ramane in aceasi pozitie,tot timpul'*/
	transition: 0.3s;
}

#backButton:hover{
	padding: 15px 25px;
}

#mainDiv{
	overflow: hidden;
	position: absolute;
	top: 10px;
	height: 535px;
	width: 100%;
	z-index:-1;
	
}

#dot1{
	position:relative;
	top: 80px;
	left: -100px;
	width: 700px;
	height: 700px;
	opacity: 0.1;
	z-index: -1;

}

#dot2{
	position: absolute;
	top: 30px;
	right:0px;
	width: 400px;
	height: 400px;
	opacity: 0.1;
	z-index: -1;

}

#text{
	position: absolute;
	top: 80px;
	padding: 20px 30px;
	width: 800px;
	height: 500px;
	overflow: hidden;

}

 #p1{
	font-size: 80px;
	color: #F99CB1;/*culoarea pentru textul Main '1 corinteni 13:8 '*/
	
}

#p2{
	font-size: 60px;
	color: #F99CB1;	/*culoarea pentru referinta biblica*/
	position: relative;
	left: 300px;
}


/*medicina generala si dentara code starts here*/



/*cod for medicina generala si dentara ends here*/


#lastDiv{
	background-color: #F99CB1;/*culoare background ecran jos*/
	z-index: -1;
	position: relative;
	top: 580px;
	height: 200px;
	width: 100%;
}


#facebook{
	position: absolute;
	left: 33px;
	top: 12px;
	width: 20px;
	height: 20px;
	color: #fff;/*culoarea de la logo 'facebook'*/
	border-radius: 100%;
	border: 2px solid #fff;/*culoare pentru cercul in care ii 'facebook'*/
	padding: 5px 5px;


}


#instagramLogo{
	position: absolute;
	left:78px;
	top: 12px;
	width: 20px;
	height: 20px;
	color: #fff;/*culoarea de la logo 'insagram'*/
	border-radius: 100%;
	border: 2px solid #fff;/*culoare pentru cercul in care ii 'instagram'*/
	padding: 5px 5px;
	

	
}

#youtubeLogo{
	position: absolute;
	left:123px;
	top: 12px;
	width: 20px;
	height: 20px;
	color: #fff;/*culoarea de la logo 'youtube'*/
	border-radius: 100%;
	border: 2px solid #fff;/*culoare pentru cercul in care ii 'youtube'*/
	padding: 5px 5px;


	
}

#dentClama{
	position: absolute;
	top: 15px;
	width: 30px;
	height: 30px;
}

#genClama{
	position: absolute;
	top: 15px;
	width: 30px;
	height: 30px;
}





































