*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:serif;
  outline:none;
}

.container{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:20px;


}

.calculator{
  position:relative;
  margin-top:-180px;
  background-color:#1C1C1C;
  padding:15px;
  border-radius:30px;
  display:grid;
  grid-template-columns:repeat(4,68px);
}

input{
  grid-column: span 4;
  position:relative;
  height:70px;
  width:250px;
  margin-left:6%;
  background-color:#1C1C1C;
  box-shadow: -5px -5px 12px #dd1d1d inset 5px 5px 12px rgba(0,0,0,.16);
  border:none;
  color:#fff;
  font-size:60px;
  text-align:end;
 

  margin-top:10px;
  margin-bottom:20px;
  padding:20px;
}
button{
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  margin:8px;
  font-size:16px;
  overflow: hidden;
  background-color:#505050;
}
button div{
  color:#fff;
  background-color: #505050;
}
.longZero{
  border-radius:30px;
  width:123px;
  background-color:#505050;
}
.lighter{
  background-color:#d4d4d2 ;
}
.orange{
  background-color: #ff9500;
}
#link{
  text-decoration: none;
  font-size:60px;
  color:#ff9500;
  text-align:center;
  background-color:#1C1C1C;
  padding:20px 102px;
  border-radius:30px;
}
#version{
  color:#505050;
  font-size:20px;
  margin:auto;
  position:absolute;
  top:700px;
}

@media only screen and (min-height:300px){
  /* iphone SE */
  #link{
    position:absolute;
    font-size:160px;
    top:10px;
  }
  .calculator{
    top:450px;
    
  }
}
@media only screen and (min-height:500px){
  /* galaxy fold */
  #link{
    position:absolute;
    top:10px;
    font-size:25px;
    border-radius:20px;
    padding:20px 112px;

  }
  .calculator{
    top:120px;
    padding:10px;
    
  }
}

@media only screen and (min-height:600px){
  /* galaxy fold */
  #link{
    position:absolute;
    top:10px;
    font-size:35px;
    border-radius:20px;
    padding:20px 112px;
    margin-left:4px;

  }
  .calculator{
    top:150px;
    padding:10px;
    
  }
}

@media only screen and (min-height:700px){
  /* Samsung galaxy s8 plus */
  #link{
    padding:20px 102px;
    position:absolute;
    top:10px;
    font-size:60px;
  }
  .calculator{
    top:130px;
    padding:20px;
  }

}
@media only screen and (min-height:800px){
  /* nest hub max*/
  #link{
    padding:20px 102px;
    position:absolute;
    top:10px;
  }
  .calculator{
    top:100px;
  }

}
@media only screen and (min-height:840px){
  /* Iphone 12 Pro */
  #link{
    padding:20px 102px;
    position:absolute;
    top:10px;
  }
  .calculator{
    top:100px;
  }

}
@media only screen and (min-height:850px){
  /* Google pixel 5 */
  #link{
    position:absolute;
    top:10px;
  }
  .calculator{
    top:70px;
  }
 
}
@media only screen and (min-height:890px){
  /* Iphone XR */
  #link{
    padding:20px 102px;
    position:absolute;
    top:8px;
  }
  .calculator{
    top:50px;
  }
  
}
@media only screen and (min-height:900px){
  /* Samsung galaxy S20 Ultra */
  .calculator{
    top:40px;
    
  }
}

@media only screen and (min-height:1020px){
  /* IPad mini */
  #link{
    position:absolute;
    top:620px;
    right:50px;
  }
  .calculator{
    top:90px;
    left:-200px;
  }
  .infoText{
    display: block;
    top:230px;
  }
 
}

@media only screen and (min-height:1100px){
  /* IPad Air */

  .calculator{
    top:10px;
  }

}

@media only screen and (min-height:1300px){
  /* Surface Pro7  */
  #link{
    position:absolute;
    top:700px;
    right:80px;
  }
  .calculator{
    top:10px;
    left:-200px;
  }

}









