*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:serif;
  outline:none;
}

.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:20px;

}

.calculator{
  background-color:#1C1C1C;
  padding:15px;
  border-radius:30px;
  box-shadow: inset 5px 5px 12px #1C1C1C, 5px 5px 12px rgba(47, 155, 83, 0.16);
  display:grid;
  grid-template-columns:repeat(4,68px);
}

input{
  grid-column: span 4;
  height:70px;
  width:260px;
  background-color:#1C1C1C;
  box-shadow: -5px -5px 12px #dd1d1d inset 5px 5px 12px rgba(0,0,0,.16);
  border:none;
  color:#fff;
  font-size:60px;
  text-align:end;
  margin:auto;

  margin-top:10px;
  margin-bottom:20px;
  padding:20px;
}
button{
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  margin:8px;
  font-size:16px;
  overflow: hidden;
  background-color:#505050;
}
button div{
  color:#fff;
  background-color: #505050;
}




.longZero{
  border-radius:30px;
  width:123px;
  background-color:#505050;
}

.lighter{
  background-color:#d4d4d2 ;
}
.orange{
  background-color: #ff9500;
}

#link{
  text-decoration: none;
  font-size:60px;
  color:#ff9500;
  text-align: center;
  margin-left:38%;
  position:relative;
  top:680px;
  background-color:#1C1C1C;
  padding:20px 100px;
  margin-bottom:400px;
  border-radius:30px;

}
@media only screen and (min-width:100px){
  #link{
    display: block;
    margin:10%;
    top:-90px;

  }
}

@media only screen and (min-width:400px){
  #link{
    top:-190px;
  }


}

@media only screen and (min-width:1000px){
  #link{
    display: block;
    top:-190px;
    margin:10%
  }
}


