body{
	margin: 0;
}

/* navbar*/

#version{
	color:#babcbe;
	font-size:20px;

}

.navBar{
	position: fixed;
	background-color : #077507;/*culoarea de background pentru bara de navigare*/
	height: 70px;
	top: 0px;	
	width: 100%;
	box-shadow: 5px 10px 18px #888888;
}


.navBar a {
  float: right;
	position:relative;
	top:8px;
  font-family: "sans-serif courier";
  color:#fff;/*culoarea pentru textul din bara de navigare fara home,home ii putin mai jos*/
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}
.container{
	display: grid;
	grid-template-columns:60% 40%;
	padding:2rem 1rem;	

}
.container div{
	color:#fff;
	font-size:50px;
	background-color:#bd1a1a;
	padding:2rem 2rem;
	box-shadow: 5px 10px 18px #888888;
}
.container div:nth-child(odd){
	color:#fff;
	font-size:50px;
	background-color:#15b8b8;
}
.container a {
	text-decoration:none;
	color:#fff;
}


 #p{
	font-size: 80px;
}

.publicity{
	background-color: #DB4437;	/*culoarea de ecran de jos 'acea unde sunt butoanele de social media' */
	position: relative;
	height: 200px;
	width: 100%;
}

#sign{
	position: relative;
	top: 5px;
	color: #fff;/*culoarea pentru logo de la 'sign in'*/
}

#more{
	position: relative;
	top: 5px;
	color: #fff;/*culoarea de la logo 'more'*/
}
#moreText{
	color:#fff;;
}


#home{
	position: relative;
	top: 5px;
	color: #fff;/*culoarea de la logo home*/
}


#quiz{
	position: relative;
	top: 10px;
}

#learn{
	position: relative;
	top: 10px;
}


#firstAll{
	position: relative;
	width:100% ;
	overflow: hidden;	
}

#dot1{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 700px;
	height: 700px;
	opacity: 0.05;
	z-index: -1;
}
#dot2{
	position: absolute;
	top: 30px;
	right:0px;
	width: 400px;
	height: 400px;
	opacity: 0.1;
	z-index: -1;
}
.daily{
	display:grid;
	grid-template-columns:100%;

}
.daily div{
	color:#c1c1c1;
	box-shadow: 5px 10px 18px #888888;
	text-align: center;
	margin: auto;
	font-size:30px;
	width:70%;
	padding:2rem 2rem;
	border-radius:20px;

}




@media only screen and (max-width:550px){
#p{
	font-size:60px;
}
.textLearn{
	position:relative;
	top:200px;
	width:350px;
}

.navBar{
	height:90px;
}
#Activate{
	position:relative;
	top:15px;
}
#signup{
	position:relative;
	top:15px;
}
#moreText{
	position:relative;
	top:15px;
}
.textLearn{
	grid-template-columns: 100%;;
}
.container{
	grid-template-columns: auto;
	font-size: 30px;
}
}

@media only screen and (max-width:450px){
	#Activate{
		position:relative;
		top:15px;
		font-size:20px;
	}
	
	#signup{
		position:relative;
		top:15px;
		font-size:20px;
	}
	#moreText{
		position:relative;
		top:15px;
		font-size:20px;
		

	}
	#p{
		color:rgba(255, 0, 0, 0.712);
		font-size:40px;
	}
}
@media only screen and (max-width:360px){
	.textLearn{
		display:none;
	}
	.buttons{
		display:none;
	}




}




